*{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
}
body{
    background-image: url("4.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

#frontPage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 100px auto;
    border-radius: 20px;
    width: 300px;
    height: 400px;

}
a{
    text-decoration: none;
    color: black;
}
#instructors{
    color:black;
    padding-top: 100px;
    display: none;
    border-radius: 100px;
    background-image: url("5.gif");
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;
    top: 200px;
    left:550px;
    width: 400px;
    height: 700px;
}
p{
    padding: 10px;
}
button{
    /* background-image:linear-gradient(#076585,#fff); */
    width: 80%;
    background-color:rgb(96, 179, 96);
    padding: 3px 0px ;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color:rgb(140 87 66);
    transition: .3s ease-in-out;
    transform: scale(1.1);
}
    #ball{
        animation:ball ease 4s infinite ;
    }
    #rect{

        animation:rect ease 5s infinite ;
        transition: .2s ease;
        border-radius: 10px;
        border: none;
    }
    #rec:hover{
        background-color: rgb(196, 103, 103);
    }

@keyframes ball{
    0%{
        transform: translate(5px,0px);
    }
    10%{
        transform: translate(20px,-50px);
    }
    20%{
        transform: translate(40px,0px);
    }
    30%{
        transform: translate(60px,-60px);
    }
    40%{
        transform: translate(80px,0px);
    }
    50%{
        transform: translate(100px,-40px);
    }
    60%{
        transform: translate(80px,0px);
    }
    70%{
        transform: translate(60px,-80px);
    }
    80%{
        transform: translate(40px,0px);
    }
    90%{
        transform: translate(20px,-50px);
    }
    100%{
        transform: translate(0px,0px);
    }
}

@keyframes rect{
    0%{
        transform: translateX(-10px);
    }
    10%{
        transform: translateX(-20px);
    }
    20%{
        transform: translateX(-60px);
    }30%{
        transform: translateX(10px);
    }40%{
        transform: translateX(-50px);
    }50%{
        transform: translateX(20px);
    }60%{
        transform: translateX(-40px);
    }70%{
        transform: translateX(0px);
    }80%{
        transform: translateX(-80px);
    }90%{
        transform: translateX(40px);
    }
    100%{
        transform: translateX(0px);
    }
}
