

canvas{
    background-color:rgba(133, 133, 224, 0.5) ;
}

body{
    background-color: rgb(255, 255, 255);
}

.canvas-wrapper{
    margin-top: 1%;
    display: flex;
    justify-content: center; 
}

a{
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}